@font-face {
  font-family: Quarion;
  src: url(../fonts/Quarion.ttf) format("truetype");
}

@font-face {
  font-family: self-modern;
  src: url(../fonts/Self-Modern.ttf) format("truetype");
}

@font-face {
  font-family: self-modern-italic;
  src: url(../fonts/Self-Modern-Italic.ttf) format("truetype");
}

* {
  text-decoration: none;
  font-family: Quarion;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* remove the default link color of the html hyperlink 'a' tag */
a {
  color: inherit;
}

th {
  font-size: 14px;
  color: #1e2525;
  font-weight: 600;
}

p,td,a {
  font-size: 14px;
  color: #1e2525;
}

h1,h2,h3,h4,h5,h6 {
  color: #1e2525;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #ffffff;
}

svg {
  align-items: center;
}

.nav_links {
  list-style: none;
}

.nav_links a {
  font-size: 12px;
  color: #1e2525;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 18px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav_links li a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  text-decoration-color: #1e2525;

}

/* button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
} */

.aboutUs {
  text-align: center;
  padding-bottom: 70px;
  padding-top: 30px;
  background-color: #fafafa;
}

.aboutUs h6 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
}

.aboutUs h1 {
  font-family: self-modern-italic;
  font-size: 48px;
  line-height: 62px;
  font-weight: lighter;
  line-height: 100px;
}

.aboutUs p {
  font-size: 14px;
}

.aboutUs-firstImage {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 702px;
  width: 1248px;
  padding-top: 70px;
}

.aboutUs-section2 {
  display: flex;
  margin: auto;
  margin-top: 112px;
  justify-content: space-between;
  height: 624px;
  width: 1248px;
  background-color: #f4eee0;
}

.aboutUs-section2 h2 {
  font-family: self-modern-italic;
  font-size: 32px;
  font-weight: lighter;
  text-align: left;
  line-height: 80px;
}

.aboutUs-section2 p {
  font-size: 14px;
  text-align: left;
}

.test {
display: flex;
}

.aboutUs-section3 {
  display: flex;
  margin: auto;
  margin-top: 96px;
  justify-content: space-between;
  height: 624px;
  width: 1248px;
}

.aboutUs-section3 h2 {
  font-family: self-modern-italic;
  font-size: 32px;
  font-weight: lighter;
  text-align: left;
}

.aboutUs-section3 p {
  padding-top: 20px;
  font-size: 14px;
  text-align: left;
}

.aboutUs-section4 {
  display: flex;
  margin: auto;
  margin-top: 48px;
  justify-content: space-between;
  height: 624px;
  width: 1248px;
}

.aboutUs-section4 h2 {
  font-family: self-modern-italic;
  font-size: 32px;
  font-weight: lighter;
  text-align: left;
}

.aboutUs-section4 p {
  padding-top: 20px;
  font-size: 14px;
  text-align: left;
}

.aboutUs-section5 {
  display: flex;
  margin: auto;
  margin-top: 96px;
  justify-content: space-between;
  height: 624px;
  width: 1248px;
  background-color: #f4eee0;
  margin-bottom: 48px;
}

.aboutUs-section5 h2 {
  font-family: self-modern-italic;
  font-size: 32px;
  font-weight: lighter;
  text-align: left;
}

.term-condition-section, .cookies-section, .privacy-section {
  background-color: #fafafa;
}

.privacy-section {
  padding-bottom: 40px;

}

.privacy-section li{
  font-weight: normal;
}

.term-condition-content {
  width: 832px;
  margin: auto;
  padding-bottom: 20px;
}

.privacy-content {
  width: 832px;
  margin: auto;
  padding-bottom: 20px;
}

.cookies-content {
  width: 832px;
  margin: auto;
  padding-bottom: 40px;
}

.term-condition-section h1 {
  font-family: self-modern-italic;
  font-size: 32px;
  font-weight: normal;
  padding-bottom:58px;
  padding-top: 90px;
}

.cookies-section h1 {
  font-family: self-modern-italic;
  font-size: 32px;
  font-weight: normal;
  padding-bottom:35px;
  padding-top: 90px;
}

.privacy-section h1 {
  font-family: self-modern-italic;
  font-size: 32px;
  font-weight: normal;
  padding-bottom:35px;
  padding-top: 90px;
}


.term-condition-section h2 {
  font-family: self-modern-italic;
  font-size: 24px;
  font-weight: lighter;
}

.cookies-section h2 {
  font-family: self-modern-italic;
  font-size: 24px;
  font-weight: lighter;
}

.privacy-section h2 {
  font-family: self-modern-italic;
  font-size: 24px;
  font-weight: lighter;
}

.term-condition-section p {
  font-family: Quarion;
  font-size: 14px;
  font-weight: lighter;
  line-height: 20px;
  padding-top: 10px;
}

.cookies-section p {
  font-family: Quarion;
  font-size: 14px;
  font-weight: lighter;
  line-height: 20px;
  padding-top: 10px;
}

.privacy-section p {
  font-family: Quarion;
  font-size: 14px;
  font-weight: lighter;
  line-height: 20px;
  padding-top: 10px;
}

.notebook-section {
  background-color: #fafafa;
}

.product-list {
  display: flex;
  max-width: 2000px;
  justify-content: center;
  column-gap: 28px;
  flex-wrap: wrap;
  column-gap: 35px;
  margin: auto;
}

.product-list-title {
  margin: auto;
  text-align: center;
}

.product-list-title h1{
  font-family: self-modern-italic;
  font-size: 32px;
  font-weight: normal;
  padding-bottom: 16px;
  padding-top: 90px;
}

.product-list-title p{
  margin: auto;
  width: 624px;
  height: 55px;
  padding-bottom: 152px;
}

.product-list-box {
  padding-bottom: 25px;
}

.product-list-details {
  position: relative;
  cursor: pointer;
  background-color: #dadada;
}

.product-list-box img {
  width: 480px;
  height: 480px;
  background-color: #f4eee0;
  cursor: pointer;
}

.text {
  font-family: self-modern-italic;
  font-size: 24px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .product-list-box h5 {
  font-size: 17px;
  font-weight: 700;
  line-height: 22.4px;
  text-transform: capitalize;
}

.product-list-box p {
  font-size: 14px;
  line-height: 18.2px;
  text-transform: capitalize;
} */


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.product-list-details:hover .overlay {
  opacity: 90.0%
}













.subscribe-homepage{
  display: flex;
  height: 418px;
}

.subscribe-homepage img {
  width: 100%;
  object-fit: cover;
}
















































/*
.show-btn {
  padding: 5px 13px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.show-btn, .container {
  background-color: #1e2525;
}

input[type="checkbox"] {
  display: none;
}

.layout {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.container {
  position: absolute;
  display: none;
  background: #faf7f0;
  width: 360px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#show:checked~.container {
  display: block;
}

.container .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 28px;
  cursor: pointer;
}

.container .close-btn:hover {
  color: #000;
}

.container .text {
  font-family: self-modern-italic;
  font-size: 32px;
}

.container form {
  margin-top: -20px;
}

.container form .data {
  height: 36px;
  width: 100%;
  margin: 40px 0;
} */







.cookies-content h6 {
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}

.privacy-content h6 {
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}




/* TABLE IN COOKIES PAGE  */
table, td, th {
  margin: 31px 0;
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.cookies-section li {
  font-size: 14px;
  font-weight: 600;
  margin: 8px 40px 0;
  color: #1e2525;

}

.privacy-section li {
  font-size: 14px;
  margin: 8px 40px 0;
  color: #1e2525;

}

/* TABLE IN COOKIES PAGE  END */



















form .data span {
  font-size: 16px;
  color: #1e2525;
  font-weight: 600;
}

form .data input {
  height: 100%;
  width: 100%;
  margin-top: 2px;
  font-size: 17px;
  border: 1px solid white;
}

form .data input:focus {
  border-color: orange;
  border-bottom-width: 2px;
}

form .forgot-pass {
  margin-top: -8px;
}

form .forgot-pass a {
  font-size: 14px;
  color: #1e2525;
  text-decoration: underline;
}

form .forgot-pass a:hover {
  text-decoration: underline;
}

form .btn {
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

form .btn .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background-color: #1e2525;
  transition: all 0.4s;
}

form .btn:hover .inner {
  left: 0;
}

form .btn button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

form .signup-link {
  text-align: center;
}

form .signup-link a {
  font-size: 14px;
  color: #1e2525;
  text-decoration: underline;
}

form .signup-link a:hover {
  text-decoration: underline;
}

/* FOOTER  */
.footer {
  display: block;
  background-color: #1e2525;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.footer-middle {
  display: flex;
  margin: 70px;
  justify-content: center;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.footer-bottom img {
  height: 24px;
}

.footer-menu-bottom {
  display: flex;
  column-gap: 20px;
  font-size: 14px;
  margin-left: 90px;
}

.footer p {
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 12px;
}

.footer h6 {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer a {}

.footer p {
  position: relative;
  padding-bottom: 20px;
  text-align: left;
  font-size: 14px;
  color: #efefef;
}

.footer p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-1 {}

.icon-footer {
  display: relative;
  height: 20px;
  font-size: 14px;
  word-spacing: 15px;
}

.fab {
  color: #ffff;
}

.faq-title {
  margin: auto;
  max-width: 100% auto;
  padding: 100px;
  display: flex;
  justify-content: center;
  background-color: #faf7f0;
}


.faq-title h1{
  font-family: self-modern-italic;
  font-size: 32px;
  font-weight: normal;
}

.faq-row1 {
  padding-bottom: 30px;
}

.faq-row2 {
  padding-top: 40px;
}

.faq-icons {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-left: 250px;
  margin-right: 250px;
  color: #000000;
  padding-bottom: 20px;
}

.faq-left h4 {
  padding-bottom: 35px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.faq-left1 h4 {
  padding-bottom: 35px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.faq-icons:hover {
  color: #333;
}

.faq-section {
  max-width: 100% auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  background-color: #fffefa;
  column-gap: 40px;
}

.faq-section a {
  color: #000000;
  font-size: 15px;
}

.faq-section p {
  color: #7A7A7A;
}

.faq-left {
  width: 555px;
  /* height: 650px; */
}

.faq-left1 {
  width: 555px;
  padding-bottom: 100px;
}

.faq {
  justify-content: center;
  max-width: 700px;
  margin-top: 10px;
  border-bottom: 2px solid #faf7f0;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf7f0;
  border-radius: 4px;
  padding: 10px;
}

.answer {
  max-height: 0;
  overflow: hidden;
}

.answer p {}

.faq.active .answer {
  max-height: 500px;
  animation: fade 1s ease-in-out;
  padding-top: 15px;
  padding-bottom: 20px;
}

svg {
  transition: transform 0.5s ease-in;
  height: 10px;
}

.faq.active svg {
  transform: rotate(-90deg);
}

.fa-chevron-right {
  font-size: 10px;
  color: #000000;
}

.faq.active .fa-chevron-right {
  transform: rotate(90deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.faq.active .fa-chevron-right {
  transform: rotate(90deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.return-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.return-content {
  width: 1110px;
  height: 700px;
}

.return-content h1 {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 20px;
}

.return-content p {
  color: #333;
  padding-bottom: 20px;
}

.return-content a {
  color: #666666;
}

.return-box {
  display: flex;
  justify-content: center;
  text-align: center;
  column-gap: 40px;
  border: 3px solid #7D0000;
  border-radius: 20px;
  margin-bottom: 50px;
}

.return-box img {
  width: 200px;
  height: 200px;
}

.return-box p {
  text-align: center;
  color: #333;
}

.return-box-row2 {
  display: flex;
  justify-content: center;
  column-gap: 80px;
}

.openSearchBtn {
  background: #FF7A5A;
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openSearchBtn:hover {
  background-color: #ffffff;
}
